[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
google-api-python-client = "*"
google-cloud-pubsub = "*"
google-cloud-logging = "*"
future-fstrings = "*"
requests = ">=2.20.0"

[dev-packages]
pytest = "*"
docker = "*"
mock = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pyyaml = ">=4.2b1"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
