[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-cloud-pubsub = "*"
pytest = "*"
"jinja2" = "*"
"autopep8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
