[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
"jinja2" = "*"
google-api-python-client = "*"
pyyaml = "*"
docker = "*"
click = "*"
google-cloud-pubsub = "*"
"grpc-google-iam-v1" = "*"
"oauth2client" = "*"
google-cloud-logging = "*"
halo = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.7"
