#!/usr/bin/env bash

set -e

if [ -f /var/utils.sh ]; then
  . /var/utils.sh # import helper functions
fi

function __trap_clean_up {
  set +e
  gcloud pubsub topics delete {{ vm_name }} --quiet
  gcloud pubsub subscriptions delete {{ vm_name }} --quiet
  gcloud compute instance-groups managed delete {{ vm_name }} --quiet --zone {{ zone }}
}

trap __trap_clean_up EXIT

set +e
docker run {% if privileged %}--privileged{% endif %} --env-file /var/clash.env -v /var/script.sh:/var/script.sh $target_docker_mounts --log-driver=gcplogs --name=clash-runner {{ image }} bash /var/script.sh > /tmp/script.log 2>&1
success=$?
logs=$(docker run -v /tmp/script.log:/tmp/script.log google/cloud-sdk:latest bash -c 'cat /tmp/script.log | tail -c 2097152 | base64 -w 0')
set -e


gcloud pubsub topics publish {{ vm_name }} --message="{\"status\": $success, \"logs\": \"$logs\"}"
