{
  "canIpForward": false,
  "disks": [
    {
      "autoDelete": true,
      "boot": true,
      "initializeParams": {
        "sourceImage": "{{ source_image }}",
        "diskSizeGb": "100"
      },
      "mode": "READ_WRITE",
      "type": "PERSISTENT"
    }
  ],
  "machineType": "https://www.googleapis.com/compute/beta/projects/{{ project_id }}/{{ machine_type }}",
  "metadata": {
    "items": [
      {
        "key": "user-data",
        "value": ""
      }
    ]
  },
  "name": "{{ vm_name }}",
  "networkInterfaces": [
    {
      "accessConfigs": [
        {
          "name": "external-nat",
          "type": "ONE_TO_ONE_NAT"
        }
      ],
      "subnetwork": "https://www.googleapis.com/compute/beta/projects/{{ project_id }}/regions/{{ region }}/subnetworks/{{ subnetwork }}"
    }
  ],
  "scheduling": {
    "automaticRestart": true,
    "preemptible": {% if preemptible %}true{% else %}false{% endif %}
  },
  "serviceAccounts": [
    {
      "email": "default",
      "scopes": [
        {% for scope in scopes %}
          "{{ scope }}"{{ "," if not loop.last }}
        {% endfor %}
      ]
    }
  ]
}
