spec:
  containers:
    - name: {{ vm_name }}
      image: {{ image }}
      args:
        - bash
        - -c
        - echo "$CLASH_RUNNER" > /tmp/clash-runner.sh && bash /tmp/clash-runner.sh
      env:
        - name: CLASH_RUNNER
          value: |
            {{ clash_runner_script | indent(12, False) }}
        - name: SCRIPT
          value: |
            {{ script | indent(12, False) }}
      restartPolicy: Never
